.u-section-1 .u-sheet-1 {
  min-height: 754px;
}

.u-section-1 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 132px;
  height: 157px;
  margin: -89px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 81px;
  min-height: 16px;
  width: 81px;
  min-width: 16px;
  margin: 30px auto 0 322px;
}

.u-section-1 .u-icon-1 {
  height: 200px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.88889rem;
  margin: -54px 322px 0 403px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-social-icons-2 {
  height: 81px;
  min-height: 16px;
  width: 81px;
  min-width: 16px;
  margin: 40px auto 0 322px;
}

.u-section-1 .u-icon-2 {
  height: 200px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.88889rem;
  margin: -54px 372px 0 403px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-social-icons-3 {
  height: 81px;
  min-height: 16px;
  width: 81px;
  min-width: 16px;
  margin: 40px auto 0 322px;
}

.u-section-1 .u-icon-3 {
  height: 200px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.88889rem;
  width: 328px;
  margin: -54px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 86px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: -604px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 282px;
  }

  .u-section-1 .u-text-2 {
    width: 415px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: 337px;
    margin-left: 303px;
    margin-right: 272px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-left: 193px;
    margin-right: 162px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 453px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -589px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 108px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-left: 103px;
    margin-right: 72px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: -574px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 259px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-social-icons-2 {
    margin-left: 259px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-3 {
    margin-left: 259px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }
}